body {
    background-image: url(../img/1096537.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    font-size: 14px;
}

img {
    width: 97%;
    padding: 6rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
